@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left">
            <li>
                <a onclick="location.href='@Url.Action("ListOfContacts", "Contact")'" class="dropdown-toggle" data-toggle="dropdown">
                    <i data-count="2" class="glyphicon glyphicon-bell notification-icon"></i>
                </a>
            </li>

            <li>@Html.ActionLink("Contacts", "ListOfContacts", "Contact")</li>
            <li>@Html.ActionLink("Account settings", "ModifyProfile", "Account")</li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "PersonalUserSite", "Account", routeValues: null, htmlAttributes: new { title = "Profile" })
            </li>
            <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Lang.LogOff_LoginPartial</a>
            </li>

        <li>@Html.TextBox("search")</li>
            <li>
            <li><input type="submit" name="searchButton" value="@Resources.Lang.Search_LoginPartial" formaction="search/Search" /></li>
        </ul>
    } 
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Lang.Register_Menu, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Lang.Login_Menu, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
