@using Microsoft.AspNet.Identity
@using DejlienApp.Repositories

@{
    DataContext db = new DataContext();


    var Id = User.Identity.GetUserId();

    var request = db.Contacts.Where(x => x.User.Id.ToString() == Id && x.IAskedTheQuestion == false && x.Request == true);

    var numRequests = request.Count().ToString();

    if (Int32.Parse(numRequests) < 1)
    {
        numRequests = "";
    }


}

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Lang.Contacts_Menu + " " + numRequests, "ListOfContacts", "Contact")</li>
        <li>@Html.ActionLink(Resources.Lang.AccountSettings_Menu, "ModifyProfile", "Account")</li>
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "PersonalUserSite", "Account", routeValues: null, htmlAttributes: new { title = "Profile" })
        </li>
        <li>@Html.ActionLink(Resources.Lang.LogOff_LoginPartial, "LogOff", "Account")</li>
        <li>@Html.ActionLink(Resources.Lang.Search_LoginPartial, "Index", "SearchUsers")</li>

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Lang.Register_Menu, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Lang.Login_Menu, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
