
<h2>@Resources.Lang.Title_Contact</h2>
<p>@Resources.Lang.p_Contact<a href="mailto:Support@example.com">Support@example.com</a></p>

</br>

<address>  
    <strong>@Resources.Lang.Marketing_Contact</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<address>
    @Resources.Lang.Adress1_Contact </br>
    70°56'21.7"S 64°37'55.0"W </br>
    @Resources.Lang.Adress2_Contact
</address>