@model IEnumerable<DejlienApp.Models.Profile>

<div class="jumbotron">
    <h1>Dejlien</h1>
    <p class="lead">@Resources.Lang.Slogan_Home</p>
    <p><a href='@Url.Action("About", "Home")' class="btn btn-primary btn-lg">@Resources.Lang.RMButton_Home &raquo;</a></p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <h2>@Html.DisplayFor(modelitem => item.Name)</h2>
            <p>
                @Html.DisplayFor(modelitem => item.Description)
            </p>

            @if (Request.IsAuthenticated)
                {
                <input type="button" value="Check me out!" onclick="location.href='@Url.Action("Visitprofile", "Account" , new { ProfileId = item.Id })'" />
            }
            else
            {
                <input type="button" value="@Resources.Lang.CMButton_Home" onclick="location.href='@Url.Action("Login", "Account")'" />
            }

        </div>

    }

</div>