@model DejlienApp.Models.Profile

@{
    ViewBag.Title = "PersonalUserSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <img src="@Url.Action("UserPhotos", "Account", new { ProfileId = Model.Id} )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
</h1> 

<h1>@Html.DisplayFor(model => model.Name)</h1>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
    <tr>
        <td>
            <p>Name: @Html.DisplayFor(model => model.Name)</p>
        </td>
        <td>
            <p>Age: @Html.DisplayFor(model => model.Age)</p>
        </td>
        <td>
            <p>Location: @Html.DisplayFor(model => model.Location)</p>
        </td>
        <td>
            <p>Searching for: @Html.DisplayFor(model => model.SearchingFor)</p>
        </td>
        <td>
            <p>Idenifies as: @Html.DisplayFor(model => model.Gender)</p>
            <br />
        </td>
        <td>
            <p>About @Html.DisplayFor(model => model.Name):</p>
            @Html.DisplayFor(model => model.Description)
            <br />
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id= model.Id }) |*@
        </td>
    </tr>

