@model DejlienApp.Models.ProfileViewModel

@{
    ViewBag.Title = "PersonalUserSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div id="left">

    <h1>
        <img src="@Url.Action("UserPhotos", "Account", new { ProfileId = Model.Profile.Id} )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
    </h1>
    <br />
    @if (Model.Profile.UserAccount.Email != User.Identity.Name)
    {
        <input type="button" name="requestButton" value="Add friend" onclick="location.href='@Url.Action("FriendRequest", "Account", new { ProfileId = Model.Profile.Id} )'" />
    }
    <br />

    <h1>@Html.DisplayFor(model => model.Profile.Name)</h1>
    <tr>
        <td>
            <p>Name: @Html.DisplayFor(model => model.Profile.Name)</p>
        </td>
        <td>
            <p>Age: @Html.DisplayFor(model => model.Profile.Age)</p>
        </td>
        <td>
            <p>Location: @Html.DisplayFor(model => model.Profile.Location)</p>
        </td>
        <td>
            <p>Searching for: @Html.DisplayFor(model => model.Profile.SearchingFor)</p>
        </td>
        <td>
            <p>Idenifies as: @Html.DisplayFor(model => model.Profile.Gender)</p>
            <br />
        </td>
        <td>
            <p>About @Html.DisplayFor(model => model.Profile.Name):</p>
            @Html.DisplayFor(model => model.Profile.Description)
            <br />
        </td>
    </tr>
</div>
<br />
<div id="right">
    <form id="form1" method="post" action=""
          enctype="application/x-www-form-urlencoded">
        <div>
            <label for="text">Create Message:</label>
        </div>
        <div>
            <input type="text" id="Post_Text" />
        </div>
        <div>
            <input type="submit" value="Send" onclick="location.href='@Url.Action("VisitProfile", "Account" , new { profileId = Model.Profile.Id })'" />
        </div>
    </form>


    @if (Model.Profile.Posts != null)
    {
        <h4>Wall of LOVE</h4>

        <table>
            <tr>
                <th>
                    @Html.DisplayFor(model => model.PostIndexViewModel.Post.Text)
                </th>
            </tr>

            @foreach (var item in Model.Profile.Posts)
            {
                <tr>
                    <td>
                        <hr />
                        @Html.DisplayFor(modelItem => item.Author.Name): @Html.DisplayFor(modelItem => item.Text)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>There is no love at the moment... please love me!</p>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("#form1").submit(function (event) {
            var txtLength = $('#Post_Text').val().length;
            if (txtLength > 0) {
                event.preventDefault();
                var text = $.ajax({ url: '/api/PostApi/SavePost/', data: { text: $('#Post_Text').val(), reciever: @Model.Profile.Id }, type: "post" })
                alert("Message successfully sent!");
                $("#form1")[0].reset();
            }
            else {
                alert("Message cannot be empty.");
            }
            });
        

    </script>

}
