@model IEnumerable<DejlienApp.Models.Contact>

@{
    ViewBag.Title = "ListOfContacts";
}

<h2>ListOfContacts</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Friend.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friend.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friend.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friend.SearchingFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friend.Gender)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Friend.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Friend.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Friend.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Friend.SearchingFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Friend.Gender)
        </td>
    </tr>
}

</table>
